@media only screen and (max-width: 1023px) {

  .slide-nav {
    visibility: hidden;
    transform: translateX(-100%);
    transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }

  .slide-nav-shown {
    visibility: visible;
    transform: translateX(0%);
  }
}


.nav-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(theme('colors.apex-purple'), theme('colors.apex-purple'));
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .2s ease-out;
}

.nav-underline:hover {
  background-size: 100% 3px;
}
